.btn-primary {
    color: white !important;
}

.btn {
    .material-icons {
        font-size: 18px;
        vertical-align: middle;
    }
}

.btn-facebook {
    background: $facebook;
    border-color: $facebook;
    &:hover {
        background: darken($facebook,10);
        border-color: darken($facebook,10);
    }
}
.btn-google {
    background: $googleBlue;
    border-color: $googleBlue;
    &:hover {
        background: darken($googleBlue,10);
        border-color: darken($googleBlue,10);
    }
}

.btn-xs {
    line-height: 1.2;
    font-size: .8rem;
    padding: 2px 11px;
}