.fb-icon {
    .cls-1{fill:white;}
    .cls-2{fill:$facebook;}
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.google-icon {
    width: 25px;
    height: 26px;
    vertical-align: middle;
    margin-right: 5px;
}