@font-face {
    font-family: 'clanpro-book';
    src: url('/static/fonts/clanpro-book.eot');
    src: url('/static/fonts/clanpro-book.woff2') format('woff2'),
         url('/static/fonts/clanpro-book.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'clanpro-book';
    src: url('/static/fonts/clanpro-news.eot');
    src: url('/static/fonts/clanpro-news.woff2') format('woff2'),
         url('/static/fonts/clanpro-news.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
  }
  